body {
    background-color: lavenderblush;
    width:1024px;
    margin: 0 auto;
    align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

h3.main-info {
    text-align: center;
}

img {
    float: left;
    width: 150px;
    height: 200px;
    padding: 30px;
}

.contact {
    font-style: normal;
    font-weight: bold;
}

ul.order {
    list-style-type: square;
}

a {
    font-style: italic;
}
