body {
    background-color: lavenderblush;
    width:1024px;
    margin: 0 auto;
    align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

.contact {
    font-style: normal;
    font-weight: bold;
}

ul.order {
    list-style-type: square;
}